html {
    color-scheme: dark;
    --page-color: black;
    --ink-color: white;
    --highlight-color: dodgerblue;
    --img-border: 0 solid gray;
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
        --page-color: white;
        --ink-color: black;
        --highlight-color: dodgerblue;
        --img-border: 1px solid gray;
    }
}

html {
    accent-color: var(--highlight-color);
}

body {
    background-color: var(--page-color);
    color: var(--ink-color);
    font-family: Arimo, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.f_item {
    padding: 8px;
    font-family: Arimo, sans-serif;
    color: dodgerblue;
}

.pic {
    width: 160px;
    height: 160px;
    border-color: dodgerblue;
    border-width: 8px;
    border-style: inset;
    border-radius: 180px;
    margin-top: 80px;
}

.name {
    color: white;
    font-weight: bold;
    font-family: Arimo, sans-serif;
    font-size: xx-large;
    text-align: center;
}

nav {
    max-width: fit-content;
    padding: 4px;
    border-width: 2px;
    border-color: dodgerblue;
    #border-style: solid;
    border-radius: 180px;
    margin: 0 auto;
}

.nav_item {
    color: var(--highlight-color);
    padding: 8px;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    font-size: large;
    border-right-width: 2px;
    #border-right-style: solid;
}

.nav_item_end {
    color: var(--highlight-color);
    padding: 8px;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    font-size: large;
}

section {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    section {
        width: 80%;
        margin: 0 auto;
    }

    nav {
        width: 80%;
        border-width: 2px;
        border-color: dodgerblue;
        #border-style: solid;
        border-radius: 180px;
        margin: 0 auto;
    }
}

main h2 {
    color: dodgerblue;
}

.ppr_p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.ppr_p .ppr_title {
    width: 70%;
    margin-bottom: 20px;
}

.ppr_thumbnail {
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: var(--img-border);
}

.ppr_thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.ppr_ref {
    color: #007ac1;
    text-decoration: none;
}

.ppr_ref a {
    padding-right: 8px;
}

.ppr_p h3 {
    margin: 10px 0;
    font-size: 1em;
}

.prj_p {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    margin-top: 20px;
}

.prj_p .prj_title {
    width: 70%;
    margin-bottom: 20px;
}

.prj_thumbnail {
    height: 80px;
    width: 80px;
    border-radius: 16px;
    margin-right: 24px;
    border: var(--img-border);
}

.prj_p h3 {
    margin: 10px 0;
    font-size: 1em;
}